<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% if title %}
            <title>{{ title }} | Rob's site</title>
        {% else %}
            <title>Rob's Site</title>
        {% endif %}
    </head>
    <body>
        <header>COOL GIANT HEADER!
            <nav>
                <ul>
                    <li><a href="{% url 'portfolio:home' %}">Home</a></li>
                    <li><a href="{% url 'portfolio:about' %}">About</a></li>
                    <li><a href="{% url 'portfolio:projects' %}">Projects</a></li>
                    <li><a href="{% url 'portfolio:education' %}">Education</a></li>
                    <li><a href="{% url 'journal:home' %}">Journal</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
    <!--                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>-->
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% if title %}
        <h1>{{ title }}</h1>
        {% endif %}
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}
        {% block content %}
        {% endblock content %}
        <footer>
            <a href="mailto: robbiecares@gmail.com" target="_blank">Contact</a>
            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
        </footer>
    </body>
</html>

