{% extends "portfolio/base.html" %}
{% block content %}
<main>
    <section>
        <p>I'm interested in learning Python to help me analyze data and develop websites. I'm currently following the
            "road map" outlined at <a href="https://programmerspyramid.com/">Programmer's Pyramid</a>. Typically, I
            learn/train in the mornings and work on one of my projects in the afternoons.</p>
    </section>
    <section>
        <h2>Learning Resources</h2>
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <td>Name</td>-->
<!--                    <td>Status</td>-->
<!--                    <td>Lessons Learned</td>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
                {% for obj in resource_list %}
                    <p><a href="{% url 'portfolio:activity-detail' obj.pk %}">{{ obj.name }}</a></p>

<!--                <tr>-->
<!--                    <td><a href="{% url 'portfolio:activity-detail' obj.pk %}">{{ obj.name }}</a></td>-->
<!--                    <td>{{ obj.get_status_display }}</td>-->
<!--                    <td>{{ obj.lessons_learned }}</td>-->
<!--                </tr>-->
                {% endfor %}
<!--            </tbody>-->
<!--        </table>-->
    </section>
</main>
{% endblock content %}