{% extends "portfolio/base.html" %}
{% block content %}
<main>
    <section>
<!--        <table>-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <td>Name</td>-->
<!--                    <td>Status</td>-->
<!--                    <td>Lessons Learned</td>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
                {% for obj in project_list %}
<!--                <tr>-->
                        <p><a href="{% url 'portfolio:activity-detail' obj.pk %}">{{ obj.name }}</a></p>
<!--                    <td><a href="{% url 'portfolio:activity-detail' obj.pk %}">{{ obj.name }}</a></td>-->
<!--                    <td>{{ obj.get_status_display }}</td>-->
<!--                    <td>{{ obj.lessons_learned }}</td>-->
<!--                </tr>-->
                {% endfor %}
<!--            </tbody>-->
<!--        </table>-->
    </section>
    <section>
        <p><a href="https://github.com/robbiecares?tab=repositories">My Github repo</a></p>
    </section>
</main>
{% endblock content %}