{% extends "portfolio/base.html" %}
{% block content %}
<main>
    <section>
    {% for obj in project_list %}
        <p><a href="{% url 'portfolio:project-detail' obj.pk %}">{{ obj.name }}</a>
            {% if obj.host_url %}
                - <a href="{{ obj.host_url }}">url</a>
            {% endif %}
        </p>

    {% endfor %}
    </section>
    <section>
        <p><a href="https://github.com/robbiecares?tab=repositories">My Github repo</a></p>
    </section>
</main>
{% endblock content %}