    {% extends "portfolio/base.html" %}


    <main>
        {% block content %}
        <section>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Status</td>
                        <td>Lessons Learned</td>
                    </tr>
                </thead>
                <tbody>
                    {% for resource in resource_list %}
                    <tr>
                        <td><a href="{% url 'portfolio:resource-detail' resource.pk %}">{{ resource.name }}</a></td>
                        <td>{{ resource.get_status_display }}</td>
                        <td>{{ resource.lessons_learned }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    {% endblock content %}